<section class="sec sec03">

  <h2>土曜限定販売の大人気商品</h2>
  <div class="popular_product flex">

    {% assign product = all_products[section.settings.toppage_product] %}

    <img src="{{ product.featured_image.src | img_url: '3000x' }}" alt="" class="img">
    <div class="product__detail">
      <div class="product__detail__main">
        <h2>
          <span>{{ product.title }}
          </span>
        </h2>
        <p class="price">{{ product.price | money }}
        </p>
      </div>
      <div class="product__detail__text">
        <p>{{ product.content }}
        </p>
      </div>

      <form method="post" action="/cart/add" enctype="multipart/form-data">

        <div class="qtydiv counter">


          <div class="qtybox">
            <span class="btnqty qtyminus icon icon-minus">
              <i class="fas fa-minus"></i>
            </span>
            <span><input type="text" id="quantity" name="quantity" value="1" min="1" class="quantity-selector quantity-input" readonly=""></span>
            <span class="btnqty qtyplus icon icon-plus">
              <i class="fas fa-plus"></i>
            </span>
          </div>
        </div>

        <input type="hidden" name="id" value={{ product.varinats.first.id }}>

        {% assign current_variant = product.selected_or_first_available_varinat %}
        {% if current_varinat.inventory_quantity > 0 %}

          <button href="#" class="Btn02 bgleft02">
            <span>カートに追加する</span>
          </button>
          {% if current_varinat.inventory_quantity < 10 %}
            <span style="color: ;red;">残り在庫{{ current_varinat.inventory_quantity }}
              個です
            </span>
          {% endif %}
        {% else %}
          <div class="Btn02">
            <span>在庫なし</span>
          </div>
        {% endif %}
      </form>
      <a href="{{ product.url }}" class="link__detail">詳細を見る</a>
      {%- comment -%}
        <label for="Quantity" class="quantity-selector">Quantity</label>
        <div class="qtybox">
        <span class="btnqty qtyminus icon icon-minus"><i class="fas fa-minus"></i></span>
        <span><input type="text" id="quantity" name="quantity" value="1" min="1" class="quantity-selector quantity-input" readonly=""></span>
        <span class="btnqty qtyplus icon icon-plus"><i class="fas fa-plus"></i></span>
        </div>
        </div>
      {%- endcomment -%}



    </div>
  </div>


  {%- comment -%}
    <h2>土曜限定販売の大人気商品</h2>
    <div class="popular_product flex">
    <img src="img/new/product-3.webp" alt="" class="img">
    <div class="product__detail">
    <div class="product__detail__main">
    <h2>
    <span>生ガトーショコラ</span>
    </h2>
    <p class="price">¥2,700</p>
    </div>
    <div class="product__detail__text">
    <p>チョコレートをたっぷり使用し、小麦粉不使用でチョコレート・バター・卵のみでリッチに仕上げました。カカオニブとレアに焼き上げたガトーショコラの食感が絶妙。外はさっくり、中はとろりレアに。</p>
    <p>
    当店のロングセラーの逸品。<br>
    お手土産や贈り物にも喜ばれます。
    </p>
    <a href="#">美味しい秘密はこちらから！</a>
    <p>
    ※以下の期間熨斗の対応をお断りさせていただいております。何卒ご了承頂きますようお願い申し上げます。<br>中止期間：2022年1月10日〜3月14日ご注文分
    </p>
    <p>
    ※ 住所不備、物流の状況、道路状況、天候、その他の事由によりご希望の到着日に沿いかねる場合がございます。余裕をもったご到着日のご指定をお勧めしております。
    </p>
    </div>
    <div class="counter">
    <span>
    <i class="fas fa-minus"></i>
    </span>
    <span>1</span>
    <span>
    <i class="fas fa-plus"></i>
    </span>
    </div>
    <button href="#" class="Btn02 bgleft02">
    <span>カートに追加する</span>
    </button>
    <a href="/product.html" class="link__detail">詳細を見る</a>
    </div>
    </div>{%- endcomment -%}
</section>

{% schema %}
  {
    "name": "Toppage Product",
    "settings": [
      {
        "type": "product",
        "id": "toppage_product",
        "label": "Toppage_Product"
      }
    ]
  }
{% endschema %}
